/*/ 
This is a static file, it will be served as-is. 
After updating, manually reload the browser to see changes 
/*/
body {
  font-family: Georgia, serif;
}
p {
  line-height: 1.75em;
}
span {
  color: darkblue;
}
ul {
  line-height: 1.5em;
}
tt {
  background-color: #eee;
  padding: 0.25em 0.5em;
  color: darkred;
}
hr {
  margin: 1em 0;
}
a {
  color: #55f; /* in rgb values: 85, 85, 255 */
  /* all caps */
  text-transform: uppercase;
  text-decoration: none;
  font-family: monospace;
}
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.2em;
  text-decoration-color: rgba(85, 85, 255, 0.25);
  text-underline-offset: 0.3em;
}
a:visited {
  color: #55f;
}

/** GAME AREA **/

header.title {
  background-color: #444;
  color: white;
  padding-top: 3em;
  padding-bottom: 1em;
  text-align: center;
}

header.title h1 {
  margin: 0;
  padding: 0;
}

header.title p {
  padding: 0;
  margin: 0;
}

/* Parent container styles */
#container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

#main-gl {
  background-color: lightblue;
  width: 100%;
  aspect-ratio: 1;
}

/* HUD div styles */
#ui-html {
  box-sizing: border-box;
  background-color: lightgray;
  width: 100%;
  padding: 0 1em 1em 1em;
}

/* control status area */
#control-status {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-color: #444;
  color: lightgray;
  font-family: monospace;
}

#keys,
#info {
  width: 100%;
  padding: 0.5em;
}
